main form {
  background-color: #f4f1ec;
}

main form div {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center
}

main h3{
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-bottom: 0;
  padding-bottom: .5em;
  align-self: flex-start;
}


.tweet-text {
  width: 70%;
  font-size: 1em;
  background: transparent;
  border: none;
  outline: none;
  margin-top: 10px;
  margin-bottom: 5px;
}

.tweet-text::placeholder{
  font-weight: bold;
  color: red;
}

button {
  width: 5em;
  height: 2em;
  color: #fff;
  background-color: #4056A1;
  border-radius: 5px;
  border: none;
  padding: 6px;
  box-shadow: 4px 4px 3px  rgba(29, 29, 29, 0.76);
}

.form-data {
  font-family: "Bungee";
  font-size: 1.2em;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: .5em auto;
  padding-right: 10%;
  padding-left: 10%;
}

.tweet-text-area{
  border-bottom: 3px solid saddlebrown;
}

button:hover {
  background-color: #5264a0;
  cursor: pointer;
}

button:active {
  transform: translateX(4px);
  transform: translateY(4px);
  box-shadow: 0 0 0;
}